/* index file css */

#login_button {
    font-size: 10px;
    height: 25;
    width: 60;
    padding: 2;
    background-color: White;
    color: #FFFFFF;
    border-top: White;
    border-right-color: White;
    border-bottom-color: #1A356E;
    border-left-color: White;
    font-weight: bold;
}

#mobile_button {
    font-size: 12px;
    height: 30;
    width: 150;
    background-color: White;
    color: #FFFFFF;
    border-top: White;
    border-right-color: White;
    border-bottom-color: #1A356E;
    border-left-color: White;
    font-weight: bold;
}


/* Sign Up */

.inputbox {
    height: 38;
    width: 265;
    font-size: 18px;
}

#sign_button {
    background: White;
    color: #FFFFFF;
    border-top-color: black;
    border-right-color: black;
    border-left-color: black;
    font-size: 18px;
    height: 40;
    width: 112;
    font-weight: bold;
    box-shadow: 5px 0px 10px 1px rgb(0, 0, 0);
}