#upload_button {
    font-size: 16px;
    height: 35;
    width: 80;
    padding: 2;
    background-color: White;
    color: #FFFFFF;
    border-top: White;
    border-right-color: White;
    border-bottom-color: #1A356E;
    border-left-color: White;
    font-weight: bold;
    box-shadow: 5px 0px 7px 0px rgb(0, 0, 0);
}