#upload_button {
    font-size: 12px;
    height: 25;
    width: 75;
    padding: 2;
    background-color: White;
    color: #FFFFFF;
    border-top: White;
    border-right-color: White;
    border-bottom-color: #1A356E;
    border-left-color: White;
    font-weight: bold;
}